<launch>

    <!-- Image format args-->
    <arg name="image_width"     default="640"/>
    <arg name="image_height"    default="480"/>
    <arg name="steps_cable"     default="10"/>
    <arg name="check_detection" default="false"/>
    <arg name="log_output"      default="screen"/>
    <arg name="mask_th"         default="200"/>

    <!-- FASTDLO Detection server  -->
    <node pkg="cables_detection" type="fastdlo_server.py" name="fastdlo_server" output="$(arg log_output)">
        <param name="image_width"       type = "int"    value="$(arg image_width)"/>
        <param name="image_height"      type = "int"    value="$(arg image_height)"/>
        <param name="steps_cable"       type = "int"    value="$(arg steps_cable)"/>
        <param name="check_detection"                   value="$(arg check_detection)"/>
        <param name="mask_th"           type = "int"    value="$(arg mask_th)"/>
    </node>

</launch>